#the inferenc engine API key
vLLM_API_KEY="your-key-here"
OCR_URL="https://185.216.20.18"
OCR_API_KEY="the-ocr-api-key-here"
OCR_MODEL_NAME="deepseek-ai/DeepSeek-OCR"

MINIO_ENDPOINT="tcp://4.tcp.eu.ngrok.io:15125"
MINIO_ACCESS_KEY="the-access-key-here"
MINIO_SECRET_KEY="the-secret-key-here"
MINIO_SOURCE_BUCKET="project-conv-rag-raw-documents"
MINIO_OUTPUT_BUCKET="project-conv-rag-ocr-output"
